 <% cache product do %>
<div class="col-xs-12 col-sm-4">
  <div id=prod
    <%= link_to image_tag(product.image_url, class: "img-responsive"), product %>
    <div class=prod_desc>
      <a href="#"><h2><%= link_to product.name, product %></h2></a>
      <p><strong>Description</strong><br><%= product.description %></p>
      <p><strong>Colour</strong><br><%= product.colour %></p>
      <p><strong>Price<br><span class="glyphicon glyphicon-euro" aria-hidden="true"></span><%= product.price %></strong></p>
    </div>
  </div>
  <% end %>
    <h6>
      <% if current_user && current_user.admin? %>
      <%= link_to 'Edit', edit_product_path(product) %> |
      <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %> |
      <%= link_to 'Add Product', new_product_path %>
      <% end %>
    </h6>
</div><!-- /col -->