<%= link_to 'Back', products_path %>

<div class = "container-fluid">
  <div class = "row">
    <div class = "prod_wrapper">
      <div class = "col-xs-12 col-sm-6 nopadding">
        <div class = "product_img">
          <%= image_tag(@product.image_url, class: "img-responsive img-zoom", data_zoom_image: @product.image_url) %>
        </div>  
      </div>    
      <div class = "col-xs-12 col-sm-6 nopadding">
        <div class = "product_info">
            <h2><%= @product.name %></h2> 
          <div class = "product_desc">
            <p><%= @product.description %></p>
          </div>
          <div class = "product_color">
             <p><%= @product.colour %></p>
          </div>
          <p>Average Rating: <div class="rated" data-score="
          <%= @product.average_rating %>"></div></p>
          <div class = "product_price">
          <p>Price: </br><strong><%= (@product.price) %></strong></p>
          </div>
          <div class ="product_buy">
            <% if signed_in? %>
              <%= form_with(url: '/payments/create') do |form| %>
              <%= hidden_field_tag(:product_id, @product.id) %>
              <%= render partial: "shared/stripe_checkout_button", locals: {product: @product} %>
              <% end %>
            <% end %>  
          </div>
        </div>  
      </div>
    </div>
    <div class = "col-xs-12 col-sm-6 nopadding">
    <%= render 'comments' %>   
    </div>
    <div class = "col-xs-12 col-sm-6 nopadding">
    <%= render 'new_comment' %> 
    </div>
  </div>
</div>







<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>Color:</strong>
  <%= @product.colour %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>  

<%= link_to 'Edit', edit_product_path(@product) %> | -->
